.scrollComponent{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.createPostContainer{
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: 0.8rem;
    padding-block: 0.2rem;
    background-color: rgb(247, 245, 241);
    border-radius: 0.5rem;
}

.createPostContainer > svg{
    width: 7rem;
}

.createPostContainer > textarea{
    width: 100%;
    outline: none;
    padding: 1rem;
    border: 1px solid silver;
    border-radius: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fabContainer > svg{
    width: 6rem;
}

.uploadContainer{
    display: flex;
    gap: 0.5rem;
}

.singleContainer{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.singleCardProfileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
}

.singleCardProfileContainer > img{
    width: 10%;
    border-radius: 50%;
}